/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'PT_Serif-Web-Italic';
  src: url('../fonts/PT_Serif-Web-Italic.ttf') format('truetype');
       font-weight: normal;
       font-style: italic;
}

@font-face {
  font-family: 'VarelaRound-Regular';
  src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}



