
$font-weight: 400;
$font-family: 'VarelaRound-Regular';
$font-size: 14px;
$line-height: 1.4;
$color: #222222;
$color-blue: #1f4ba5;
$color-danger: #ff3f2b;

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  color: $color;
  font: $font-weight $font-size/$line-height $font-family, Arial, sans-serif;
  background: #ffffff;
  width: 1920px;
}

img {
  display: block;
  max-width: 100%;
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

span {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.main-wrapper {
  padding: 0;
  min-width: 320px;
  position: relative;
  /*overflow: hidden;*//*КОСЯК!!!!*/
  opacity: 1;
  min-height: 100%;
  height: auto;
  height: 100%;
  
}

/* icons */

.ic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: $color-blue;
  padding: 0 25px;
  font-size: 12px;
  border-radius: 20px;
  font-family: 'VarelaRound-Regular', Arial, sans-serif;
  line-height: 30px;
}

/* header */

.header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 38px;
  padding-bottom: 7px;
}

.main-menu {
  list-style: none;
  display: flex;
  margin-right: 70px;
  &__link {
    line-height: 80px;
    color: $color;
    font-size: 14px;
    display: block;
    padding: 0 21px;
    [class*="icon"] {
      margin-left: 3px;
      font-size: 8px;
      color: $color-blue;
    }
  }
}

.dropdown {
  position: relative;
  &:hover {
    .dropdown-content {
      opacity: 1;
      margin-top: 0;
      left: -10px;
      visibility: visible;
    }
  }
  &--right {
    &:hover {
      .dropdown-content {
        left: auto;
        right: -10px;
      }   
    }
    .dropdown-content {
      &::before {
        right: 30px;
      }
      &::after {
        right: 30px;
      }
    }
  }
  &--white {
    .dropdown-content {
      background-color: #ffffff;
      border: 1px solid #ececec;
      padding: 0;
      &::before {
        content: none;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 9px solid transparent;
        border-bottom: 9px solid #ececec;
        bottom: 100%
      }
    }
  }
}

.dropdown-content {
  position: absolute;
  background-color: #222222;
  padding: 30px;
  width: 240px;
  opacity: 0;
  margin-top: 30px;
  z-index: 99;
  transition: opacity 0.3s, margin-top 0.4s;
  top: 100%;
  left: -10000px;
  visibility: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #222;
    bottom: 100%;
  }
}

.dropdown-menu {
  list-style: none;
  &__item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    color: #bcbcbc;
    font-size: 12px;
    line-height: 16px;
    &:hover {
      color: #ffffff;
    }
  }
}

.search {
  flex: 1;
  position: relative;
  margin-right: 48px;
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: #f6f6f6;
    padding: 0 40px 0 20px;
    border: none;
    color: #868686;
    font-size: 12px;
    font-family: 'PT_Serif-Web-Italic';
    border-radius: 20px;
  }
  &__button {
    position: absolute;
    top: 5px;
    right: 3px;
    font-family: 'icomoon' !important;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: transparent;
  }
}

.location {
  margin-right: 47px;
  &__link {
    color: #868686;
    font-size: 12px;
  }
  [class*="icon"] {
    font-size: 20px;
    color: $color;
    margin-right: 6px;
  }
}

.profile-menu {
  list-style: none;
  display: flex;
  margin-right: -17px;
  &__link {
    display: block;
    line-height: 80px;
    padding: 0 17px;
    [class*="icon"] {
      font-size: 18px;
      color: $color;
      vertical-align: middle;
    }
  }
  .dropdown-content {
    width: auto;
  }
}

.basket {
  position: relative;
  line-height: $line-height;
  .badge {
    position: absolute;
    top: -7px;
    right: -10px;
  }
}

.b-price {
  margin-left: 15px;
  font-family: 'Oswald-Bold';
  font-size: 12px;
  color: #222;
  vertical-align: middle;
}

span.badge {
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-blue;
  display: inline-block;
  vertical-align: middle;
  line-height: 17px;
  color: #ffffff;
  font-size: 9px;
  text-align: center;
}

.user-menu {
  width: 180px;
  list-style-type: none;
  &__item {
    border-bottom: 1px solid #ececec;
    &:last-child {
      border-bottom: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: $color;
    font-family: 'VarelaRound-Regular';
    font-size: 12px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    
    [class*="icon"] {
      width: 18px;
      text-align: center; 
      color: #cccccc;
      font-size: 16px;
      margin-right: 15px;
    }
    .badge {
      margin-left: auto;
    }
  }
}

.cart {
  width: 300px;
  .cart-list {
    list-style-type: none;
    &__item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ececec;
      padding: 10px;
    }
    &__img {
      width: 60px;
      text-align: center;
      margin-right: 20px;
      flex: none;
      img {
        display: inline-block;
        max-width: 100%;
      }
    }
    &__info {
      flex: 1;
      .product__title {
        margin-bottom: 10px;
      }
    }
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price {
        margin-right: 10px;
      }
    }
    &__delete {
      padding: 0 10px 0 0 ;
      margin-left: 20px;
      flex: none;
      font-size: 12px;
      color: #d5d5d5;
      a {
        color: inherit;
        &:hover {
          color: $color;
        }
      }
    }
  }
  .cart-footer {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    .total {
      width: 60px;
      flex: none;
      margin-right: 20px;
      text-align: right;
    }
    .price {
      margin-right: 28px;
    }
  }
}

.price {
  font-size: 12px;
  font-family: 'Oswald-Bold';
  letter-spacing: 1.2px;
  &--danger {
    color: #ff3f2b;
  }
}

.total {
  color: #b8b8b8;
  line-height: 18px;
  font-family: 'PT_Serif-Web-Italic';
  font-size: 12px;
}

.product {
  &__title {
    color: $color;
    font-size: 12px;
    line-height: 16px;
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__details {
    color: #b8b8b8;
    /* line-height: 18px; */
    font-family: 'PT_Serif-Web-Italic';
    font-size: 12px;
  }
}

/* Content */

.header-inner {
  position: relative;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .category {
    display: block;
  }
  .header-inner__title {
    font-size: 48px;
    margin: 0;
  }
  .bread-crambs {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.bread-crambs {
  display: flex;
  .bread-crambs__item {
    margin-right: 4px;
  }
  .bread-crambs__link {
    font-size: 12px;
    color: #868686;
    &:hover {
      color: $color;
    }
  }
}

.category {
  font-family: 'Oswald-Bold';
  color: #1f4ba5;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.filter {
  display: flex;
  border-bottom: 1px solid #ececec;
  min-height: 60px;
  .filter-sidebar {
    display: flex;
    align-items: center;
    width: 240px;
    padding: 15px 30px;
    flex: none;
    border-right: 1px solid #ececec;
  }
  .filter-content {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    /*flex: 1;*//*тянем на всю ширину контента*/
  }
  .filter__title {
    color: #979797;
    font-size: 12px;
    line-height: 16px;
  }
  .filter-list {
   margin: 0;
   margin-left: auto;
   display: flex;
   align-items: center;
   .filter-list__item {
     margin-left: 10px;
     &:first-child {
       margin-left: 0;
     }
   }
   .filter-list__link {
     font-size: 16px;
     color: #d5d5d5;
     &:hover {
       color: #888888;
     }
   }
   .filter-list__item.active .filter-list__link {
     color: $color;
   }
  }
}

.toggle-filter {
  color: #d5d5d5;
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 20px;
  transition: all 0.3s;
  &:hover {
    color: $color-blue;
  }
  .sr-only {
    display: none;
  }
}

.sort {
  display: flex;
  input {
    display: none;
  }
  input:checked  + .sort__item {
    color: #ffffff;
    background-color: $color;
    padding: 0 20px;
    [class*="icon"] {
      color: #ffffff;
      .path1::before {
        content: '\e902';
      }
    }
  }
  .sort__item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 20px;
    cup
    &:hover {
      color: $color-blue;
    }
    [class*="icon"] {
      color: #d5d5d5;
      margin-left: 5px;
    }
  }
}

.hide {
	position: absolute;
	left: 0; 
	top: 0;
	height: 0; 
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}

.tab-cont { 
	opacity: 1;
	transition: opacity 0.4s;
	visibility: visible;
	&.hide {
		opacity: 0;
  }
}

.box-main {
  display: flex;
  .sidebar {
    width: 240px;
    flex: none;
    border-right: 1px solid #ececec;
  }
  .content {
    flex: 1;
  }
}

.accordion {
  border-bottom: 1px solid #ececec;
  .accordion__head {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    cursor: pointer;
    border-top: 1px solid #ececec;
    &:first-child {
      border-top: none;
    }
    .accordion__title {
      font-family: 'Oswald-Bold';
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
    span {
      color: #b8b8b8;
      font-size: 16px;
      margin-left: 10px;
    }
  }
  .accordion__body {
    padding: 0 30px 25px;
    .check-list {
      list-style-type: none;
      .check-list__item {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .check-list__text {
        font-size: 12px;
        line-height: 24px;
        cursor: pointer;
      }
    }
    /* для price рaзбивка на 2 колонки */
    .check-list--column {
      .check-list__item {
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        width: 50%;
        padding-right: 10px;
      }
    }
  }
  /* если добавляется open то - меняется на + */
  .open {
    span::before {
      content: "\e909";
    }
  }
}
/* Упраление 2-м ползунком */
.slider-range__input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  .input-left {
    text-align-last: left;
  }
  .inpur-right {
    text-align: right;
  }
}

.slider-renge__input {
  width: 30%;
  border: none;
  outline: none;
  font-family: 'VarelaRound-Regular';
  font-size: 12px;
  line-height: 24px;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 4px;
}

.ui-widget-content {
    background-color: #efefef;
    color: #333333;
}

.ui-slider-horizontal {
    height: 10px;
}

.ui-widget-header {
    background-color: #1f4ba5;
    color: #333333;
    font-weight: 700;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 17px;
    height: 17px;
    border: 4px solid #1f4ba5;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 4px solid #1f4ba5;
    border-radius: 50%;
    background: #fff;
    outline: none;
}