$font-weight: 400;
$font-family: 'VarelaRound-Regular';
$font-size: 14px;
$line-height: 1.4;
$color: #222222;
$color-blue: #1f4ba5;

body {
  color: $color;
  font: $font-weight $font-size/$line-height $font-family, Arial, sans-serif;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

span {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.main-wrapper {
  padding: 0;
  min-width: 320px;
  width: 1920px;
  position: relative;
  /*overflow: hidden;*//*КОСЯК!!!!*/
  opacity: 1;
  min-height: 100%;
}

/* icons */

.ic {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* header */

.header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 40px;
  padding-bottom: 7px;
}

.main-menu {
  list-style: none;
  display: flex;
  margin-right: 70px;
  &__item {
    position: relative;
    &:hover {
      .dropdown-content {
        opacity: 1;
        margin-top: 0;
        left: -10px;
        visibility: visible;
      }
    }
  }
  &__link {
    line-height: 80px;
    color: $color;
    font-size: 14px;
    display: block;
    padding: 0 21px;
    [class*="icon"] {
      font-size: 8px;
      color: $color-blue;
    }
  }
}

.dropdown-content {
  position: absolute;
  background-color: #222222;
  padding: 30px;
  width: 240px;
  opacity: 0;
  margin-top: 30px;
  transition: opacity 0.3s, margin-top 0.4s;
  top: 100%;
  left: -10000px;
  visibility: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #222;
    bottom: 100%;
  }
}

.dropdown-menu {
  list-style: none;
  &__item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    color: #bcbcbc;
    font-size: 12px;
    line-height: 16px;
    &:hover {
      color: #ffffff;
    }
  }
}

.search {
  flex: 1;
  /* width: 100%; */
  position: relative;
  margin-right: 48px;
  &__input {
    width: 90%;
    height: 30px;
    background-color: #f6f6f6;
    padding: 0 40px 0 20px;
    border: none;
    color: #868686;
    font-size: 12px;
    font-family: 'PT_Serif-Web-Italic';
    border-radius: 20px;
  }
  &__button {
    position: absolute;
    top: 5px;
    right: 8px;
    font-family: 'icomoon' !important;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: transparent;
  }
}

.location {
  margin-right: 47px;
  &__link {
    color: #868686;
    font-size: 12px;
  }
  [class*="icon"] {
    font-size: 18px;
    color: $color;
    margin-right: 5px;
  }
}

.profile-menu {
  list-style: none;
  display: flex;
  margin-right: -20px;
  &__item {
    position: relative;
    &:hover {
      .dropdown-content {
        opacity: 1;
        margin-top: 0;
        left: -10px;
        visibility: visible;
      }
    }
  }
  &__link {
    display: block;
    line-height: 80px;
    padding: 0 20px;
    [class*="icon"] {
      font-size: 18px;
      color: $color;
      vertical-align: middle;
    }
  }
}

.basket {
  position: relative;
  line-height: $line-height;
}

.bi-price {
  margin-left: 15px;
  font-family: 'Oswald-Bold';
  font-size: 12px;
  color: #222;
  vertical-align: middle;
}

.bage {
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-blue;
  display: inline-block;
  vertical-align: middle;
  line-height: 17px;
  color: #ffffff;
  font-size: 9px;
  text-align: center;

  position: absolute;
  top: -7px;
  right: -10px;
}